body {
    margin: 0;
}

header {
    border: solid white 20px;
}

#headerLogo {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

}

.location {
    border: solid rgba(234, 234, 234, 255)black;
    background-color: rgba(234, 234, 234, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerIconLoc {
    height: 15px;
    width: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.conteneurHeader {
    background-color: rgba(246, 246, 246, 255);
    border: solid rgba(246, 246, 246, 255) 30px;
}

.headerTitle,
.headerText {
    text-align: center;
    background-color: rgba(246, 246, 246, 255);
}

.headerButton {
    text-align: center;
}

.btnPrimary {
    background: linear-gradient(-70deg, rgba(161, 90, 219, 255), rgba(233, 114, 218, 255));
    height: 50px;
    width: 200px;
    border-radius: 50px;
    color: white;
    border: solid rgba(234, 234, 234, 255);
}

.stepMenu {
    border: solid rgba(246, 246, 246, 255);
    background-color: rgba(246, 246, 246, 255);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.stepNumber {
    border: solid rgba(147, 86, 220, 255);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(147, 86, 220, 255);
    color: white
}

.stepMenuLogo {
    height: 15px;
    width: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.navRestorants {
    background-color: rgba(246, 246, 246, 255);
}

.restoChoice {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 20px;
}

.imgRestoIndex {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.conteneurRestoChoice {
    display: flex;
    flex-direction: row;
}

.conteneurRestoTitle_Text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restoLikeIndex {
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* menu 1 -----------------------------------------------------------------------------------------------------*/

.imageLogoMenu {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#imageMenu1 {
    object-fit: cover;
    width: 100%;
    height: 50%;
    z-index: 0;
}

.containerNavMenu {
    background-color: rgb(227, 230, 231);
    width: 98%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: solid rgb(227, 230, 231);
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
    position: relative;
    top: -30px;
}

.menu {
    border: solid rgb(227, 230, 231);
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.containerTitle_Text {}

.blue {
    width: 50px;
    height: 100px;
    background-color: blue;
    visibility: hidden;
}